body{
    text-align: center;
}

.nome {
    color: rgb(31, 71, 156);
    font-size: 70px;
    margin: 0 150px;
}

img{
    width: 160px;
    margin: 0 150px; /*cima, lado d, baixo, lado e (sentido horario) */
}
/*padding - interno e margem - externo */
.card{
    color: rgb(31, 71, 156);
    font-size: 30px;
    
}

.entradas{
    color: rgb(31, 71, 156);
    font-size: 20px;
}

table{
    margin: 0 auto;
    /*borda*/ 
    border: 1px solid /*linha inteira*/ black;  /*largura da borda, tipo ou estilo, cor*/
}

/*td{
    border-radius: 2px;
    border-color: black;
    padding: 5px;
}*/

/*ol{
    list-style: none;
}*/

.hora{
    color: rgb(31, 71, 156);
    font-size: 20px;
}

.menu1{
    padding: 8px;
    background-color:rgb(31, 71, 156); 
    color: white;
    border-radius: 7px;
    text-decoration: none; /*editei pra nao ter tracinho*/
}

 /*pseudoclasse*/
.menu1:visited{ /*pra a palavra nao mudar de cor quando clicar no link*/
    color: white;
    text-decoration: none;
}

.menu1:hover{ /*alguma mudaça quando passa por cima da palavra/link */
   color: rgb(31, 71, 156);
   background-color:rgb(221, 215, 235);
}

/*.menu1:link -> mudar a cor*/

/*.menu1:active -> /*indicar link ativo*/

/*CARDAPIO*/


